.aboutBody{
    display: flex;
    flex-direction: column;
}
.aboutBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.aboutBody .content {
  flex: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.aboutStuff{
    width: 100%;
    align-self: center;
    height: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.email-me {
  color: #0066cc;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

p{
    font-family: "Inconsolata";
}

h1{
    font-family: "Karla", sans-serif;
}

.email-me::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0066cc;
  transition: width 0.3s ease;
}

.email-me:hover::after {
  width: 100%;
}

.aboutStuff > p {
    margin-top: 2rem;
}

.librefm {
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
}

@media screen and ((min-width: 651px ) and (max-width: 750px)) {
    .content{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .content{
        margin-top: 2rem;
    }
}
