baseURL: "https://www.lowsound.dev"
title: "I do business"
theme: PaperMod
pagination:
  pagerSize: 5
  path: page

markup:
  goldmark:
    extensions:
      passthrough:
        delimiters:
          block:
            - - \[
              - \]
            - - $$
              - $$
          inline:
            - - \(
              - \)
        enable: true

params:
  cdnUrl: "https://lowsound.tor1.cdn.digitaloceanspaces.com"
  math: false
  env: production
  title: "Place for Things"
  description: "Things and Stuff"
  keywords: [Blog]
  author: Me
  # author: ["Me", "You"] # multiple authors
  images: ["./assets/images/gobiandmewhite.jpg"]
  DateFormat: "January 2, 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false
  imageCdn: "https://lowsound.tor1.cdn.digitaloceanspaces.com/homepage/"
  ShowReadingTime: false
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: true
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  # profile-mode
  homeInfoParams:
    enabled: true # needs to be explicitly set
    title: "Omar speaks in the third person"
    content: "but I'm not so good at it"

  socialIcons:
    - name: github
      url: "https://github.com/lowsound42"
    - name: email
      url: "mailto:omar@lowsound.dev"
    - name: pixelfed
      url: "https://pet.tax/gobi_ni"
    - name: mastodon
      url: "https://mastodon.sdf.org/@pxplowsound/"
    - name: linkedin
      url: "https://www.linkedin.com/in/omar42/"
    - name: link
      url: "http://pxplowsound.freeshell.org/"
    - name: rss
      url: "https://lowsound.dev/posts/index.xml"

menu:
  main:
    - identifier: posts
      name: posts
      url: /posts/
      weight: 10
    - identifier: tags
      name: tags
      url: /tags/
      weight: 40
    - identifier: photos
      name: photos
      url: /photos/
      weight: 20
    - identifier: business
      name: "business"
      url: /business/
      weight: 30
    - identifier: geo
      name: "?"
      url: /geo/
      weight: 50
