
.post-header, .post-footer, .footer, .header, .entry-header, .entry-footer, .page-header{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.post-content, .entry-content, .terms-tags{
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: 450;
}

.small-image-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-video-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}


.video-shortcode {
  width: 80%;
}

.entry-content {
  font-size: 1rem;
}

.first-entry .entry-content{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.4rem;
}

.post-entry .entry-content {
  font-weight: 500;
}

.small-image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.post-entry {
    position: relative;
    padding-bottom: 3rem;
}

.post-entry .entry-link {
    position: absolute;
    inset: 0;
    z-index: 1;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    
    font-size: 0.85rem;
    color: var(--secondary);
    text-decoration: none;
}

.post-entry .entry-link:hover {
    color: var(--primary);
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .home-info {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
    .post-entry .entry-link {
        justify-content: flex-start; /* Left align on mobile */
    }
}