.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}
.mid {
  display: none;
}

.img-block {
  cursor: pointer;
  padding: 1rem;
}

p {
  font-family: "Inconsolata";
  font-weight: 500;
}

.small {
  display: none;
}

.photoContainer {
  display: flex;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  width:70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.fancythumb {
  width: 400px;
}

@media (min-width: 1391px) and (max-width: 1580px) {
    .gallery {
    width: 90%;
  }
}

@media (min-width: 1027px) and (max-width: 1390px) {
    .gallery {
    width: 80%;
  }
    .intro {
    width: 70%;
  }
  .fancythumb {
    width: 250px;
  }
}

@media (min-width: 601px) and (max-width: 1026px) {
    .gallery {
    width: 100%;
  }
    .intro {
    width: 100%;
  }
  .fancythumb {
    width: 150px;
  }
}


@media (min-width: 450px) and (max-width: 600px) {

  .img-block{
    padding: 0.2rem;
  }

  .photoContainer {
    width: 90%;
  }
  .fancythumb {
    width: 150px;
  }
}


@media (max-width: 450px) {
 .intro {
    width: 96%;
  }
  .img-block{
    padding: 0.2rem;
  }

  .gallery{
    padding: 0rem;
    width: 100%;
  }

  .photoContainer {
    width: 100%;
  }
  .fancythumb {
    width: 150px;
  }
}

