.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.mid {
  display: none;
}

.img-block {
  cursor: pointer;
  padding: 1rem;
}

p {
  font-family: "Inconsolata";
  font-weight: 500;
}

.small {
  display: none;
}

.photoContainer {
  display: flex;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.fancythumb {
  width: 400px;
}

@media (min-width: 601px) and (max-width: 1150px) {
  .photoContainer {
    width: 90%;
  }
  .fancythumb {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {

  .img-block{
    padding: 0.2rem;
  }

  .photoContainer {
    width: 90%;
  }
  .fancythumb {
    width: 150px;
  }
}
