{{- /* Head custom content area start */ -}} {{ if .Param "math" }} {{
partialCached "math.html" . }} {{ end }}
<meta name="fediverse:creator" content="@pxplowsound@mastodon.sdf.org" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<meta property="og:site_name" content="lowsound.dev" />
<meta property="og:title" content="lowsound" />
<meta property="og:description" content="Brainular Excretions" />
<meta
    property="og:image"
    itemprop="image"
    content="https://lowsound.tor1.cdn.digitaloceanspaces.com/homepage/gobiandmewhite.jpg"
/>
<meta property="og:type" content="website" />

<link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet"
/>
<script
    defer
    src="https://umami.gobimax.com/script.js"
    data-website-id="47d4594b-e2a5-4c03-8c74-bebd94301a99"
></script>
{{- /* Head custom content area end */ -}}
