{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $scratch.Add "meta" (slice (printf `<a class="u-url" href="%s"><time class="dt-published" datetime="%s">Written %s</time></a>` .Permalink (.Date.Format "2006-01-02T15:04:05Z07:00") (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if not .Lastmod.IsZero -}}
  {{- $scratch.Add "meta" (slice (printf `<time class="dt-updated" datetime="%s">Modified %s</time>` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") (.Lastmod | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- with .Params.author -}}
  {{- $scratch.Add "meta" (slice (printf `<span class="p-author h-card"><a class="u-url p-name" href="%s">By %s</a></span>` site.BaseURL .)) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
  {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
